@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift-bold.woff") format("woff");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

html, body {
    height: 100%;
}

a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00b0ff;
    font-weight: bold;
}

body {
  background-color: #f7f7f7;
}

.nav{
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav ul {
  padding-left: 0px;
}

.nav li {
  display: inline;
}

.dropdown-menu li a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-menu li {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron {
  background-image:url('/Content/app/jumbotron_image2.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
  margin-bottom: 0px;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
}

.jumbotron a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #00b0ff;
  font-weight: bold;
}

.summary {
  background-color: #f7f7f7;
  height:auto;
}

.summary h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

.footer p {
    font-size: 10px;
    text-align: center;
}

.contacts td {
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}